<script id="tmpl-nf-field-file-upload" type="text/template">
	<!-- The fileinput-button span is used to style the file input field as button -->
	<button class="btn btn-success fileinput-button">
        <span>{{{ nf_upload.strings.select_files }}}</span>
    </button>
	<!-- The file input field used as target for the file upload widget -->
	<input class="nf-element" style="display: block; visibility: hidden; width: 0; height: 0;" type="file" <# data.uploadMulti ? print( 'name="files[]" multiple' ) : print ( 'name="files"' ) #>>
	<input type="hidden" class="nf-upload-nonce" value="{{{ data.uploadNonce }}}">
	<!-- The global progress bar -->
	<div class="progress">
		<div class="progress-bar progress-bar-success animate"></div>
	</div>
	<!-- The container for the uploaded files -->
	<div class="files_uploaded"></div>
</script>

<script id="tmpl-nf-field-file-row" type="text/template">
	<p>
		{{{ data.name }}}
		<a href="#" class="delete">{{{ nf_upload.strings.delete_file }}}</a>
	</p>
</script>